<div class="py-4 mb-2">
  <h3 class="d-inline-block">Domain Details</h3>

  <div class="float-end">
    <%= linkTo(domainsPath(), {class: "btn btn-info"}) { %>
      Back to all Domains
    <% } %>
    <%= linkTo(editDomainPath({ domain_id: domain.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(domainPath({ domain_id: domain.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= domain.Name %></p>
  </li>


</ul>
