<div class="py-4 mb-2">
  <h3 class="d-inline-block">Visits</h3>
  <div class="float-end">
    <%= linkTo(newVisitsPath(), {class: "btn btn-primary"}) { %>
      Create New Visit
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>LinkID</th><th>UserMeta</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (visit) in visits { %>
      <tr>
        <td class="align-middle"><%= visit.LinkID %></td><td class="align-middle"><%= visit.UserMeta %></td>
        <td>
          <div class="float-end">
            <%= linkTo(visitPath({ visit_id: visit.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editVisitPath({ visit_id: visit.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(visitPath({ visit_id: visit.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
